<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TrueWeather</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="Shortcut icon"
        href="https://cdn.discordapp.com/attachments/1150849159767801856/1170794114871214231/ri_cloud-fill.png?ex=655a55fd&is=6547e0fd&hm=75ba0b69baffeb34b1f06ba93803bae8daccf464cc3029075c5e2a96fe40a9e1&" />
</head>

<body>
    <center>

        <div id="Logo">
            <img
                src="https://cdn.discordapp.com/attachments/1150849159767801856/1170794114871214231/ri_cloud-fill.png?ex=655a55fd&is=6547e0fd&hm=75ba0b69baffeb34b1f06ba93803bae8daccf464cc3029075c5e2a96fe40a9e1&">
        </div>
        <div class="road">
            <div class="car" id="car"></div>
        </div>
        <div id="box">
            <div id="LogoTop">
                <h1>TrueWeather</h1>
            </div>
            <div id="CitySearch">
                <form method="post">
                    {% csrf_token %}
                    <label for="city" id="CitySearchName">Enter City: </label>
                    <input type="text" id="city" name="city" required>
                    <input type="submit" id="button" value="Get Weather">
                </form>
            </div>
            {% if weather_data.cloudStatus == 1 %}
            Czyste Niebo
            {% endif %}
            {% if weather_data.cloudStatus == 2 %}
            Burza
            {% endif %}
            {% if weather_data.cloudStatus == 3 %}
            Deszcz
            {% endif %}
            {% if weather_data.cloudStatus == 4 %}
            Snieg
            {% endif %}
            {% if weather_data.cloudStatus == 5 %}
            Chmury
            {% endif %}
            {% if weather_data.cloudStatus == 6 %}
            Inne
            {% endif %}
            <div id="CityInfoTop">
                {% if weather_data %}
                <h2>Weather in {{ weather_data.city }}:</h2>
            </div>
            <div id="CityInfo">
                <p>Temperature: {{ weather_data.temperature }} °C</p>
                <p>How it is: {{ weather_data.description }}</p>
                {% else %}
                <p>No data available for the provided city.</p>
                {% endif %}
                {% if weather_data %}
                <p>Perceptible temperature is {{ weather_data.feels_like }} °C</p>
                <p>It's outside {{ weather_data.feel }}</p>
                <p>You should wear {{ weather_data.clothes }}</p>
                {% else %}
                <p>No data available.</p>
                {% endif %}
            </div>
        </div>

        <button id="startButton">Chmurka</button>
        <script>
            const car = document.getElementById("car");
            const startButton = document.getElementById("startButton");
            let isMoving = false;

            startButton.addEventListener("click", () => {
                if (!isMoving) {
                    moveCar();
                    isMoving = true;
                }
            });

            function moveCar() {
                const roadWidth = window.innerWidth;
                car.style.left = "-100px";

                const animationDuration = 4000;

                car.style.transition = `left ${animationDuration / 1000}s linear`;
                car.style.left = `${roadWidth}px`;

                setTimeout(() => {
                    car.style.transition = "none";
                    car.style.left = "-100px";
                    isMoving = false;
                }, animationDuration);
            }

        </script>
    </center>
</body>

</html>