@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {background-color: white;
    background-image: url(ttten.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#LogoTop{
    color: #094067;
    font-family: 'Lilita One', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#chelsea{
    color: #8bd3dd;
    font-family: 'Lilita One', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}